<h2>Edit Your Account Info</h2>

<%= form_for @user do |f| %>
  <%= f.label :user_name %>: <%= f.text_field :user_name %><br>
  <%= f.label :street_address %>: <%= f.text_field :street_address %><br>
  <%= f.label :city %>: <%= f.text_field :city %><br>
  <%= f.label :state %> <%= f.select :state, options_for_select(us_states) %><br>
  <button class="button"><%= f.submit "Edit Info" %></button>
<% end %>
