
<div>
  <% if user_signed_in? %>
    <img src="<%= @user.image %>">
    <h2>Hey <%= @user.user_name %>!</h2>
    <h3>Email:</h3>
    <h3><%= @user.email %></h3>
    <h3>DeliverMe Member Since:</h3>
    <h3><%= @user.readable_date %></h3>
    <h3>Address:</h3>
    <h3><%= @user.street_address %></h3>
    <h3><%= @user.city %>, <%= @user.state %></h3>
    <h3>Balance: $<%= @user.balance %></h3>
  <% end %>
</div>

<div>
  <%= link_to "Add Money", add_money_path %>
</div>

<div>
  <%= link_to "Edit Your Account Info", edit_user_path(@user) %>
</div>

<div>
  <%= link_to "Your Orders", user_orders_path(@user) %>
</div>

<div>
  <%= link_to "Place a New Order", new_user_order_path(@user) %>
</div>
