<div>
  <% if user_signed_in? %>
    <% if @user.image %>
      <img src="<%= @user.image %>">
    <% end %>
    <% if @user.user_name %>
      <h2>Hey <%= @user.user_name %>!</h2>
    <% else %>
      <h3><button class="button"><%= link_to "Add Your Profile Info", add_user_profile_path %></button></h3>
    <% end %>
    <p>Email: <%= @user.email %></p>
    <p>DeliverMe Member Since: <%= @user.readable_date %></p>
    <% if @user.street_address.present? && @user.city.present? && @user.state.present? %>
      <p>Address: <%= @user.street_address %> <%= @user.city %>, <%= @user.state %></p>
    <% end %>
    <p>Balance: $<%= @user.balance %></p>

  <button class="button"><%= link_to "Add Money", add_money_path %></button><br>


  <button class="button"><%= link_to "Edit Your Account Info", edit_user_path(@user) %></button><br>


  <button class="button" id="user-orders"><%= link_to "Your Orders", orders_path %></button><br>


  <button class="button" id="new-order"><%= link_to "Place a New Order", vendors_path(:user_id => current_user.id) %></button><br>
  <% end %>
</div>

<div id="user-orders-list">
</div>

<div id="new-order-div">
</div>
