<div>
  <h2>Welcome to the DeliverMe Landing Page!</h2>
</div>

<div>
  <h3>Check Out All These Awesome Vendors</h3>
</div>

<div>
  <% @vendors.each do |vendor| %>
    <h3><%= vendor.name %></h3>
    <% vendor.items.each do |item| %>
      <ul>
      <li><%= item.name %> $<%= item.price %></li>
      </ul>
    <% end %>
  <% end %>
</div>

<div>
  <% if user_signed_in? %>
    <%= link_to("Go To Your Orders", user_orders_path(current_user)) %><br>
    <%= link_to("Place A New Order", new_user_order_path(current_user)) %>
  <% elsif vendor_signed_in? %>
    <%= link_to("Go To Your Orders", vendor_path(current_vendor)) %><br>
    <%= link_to("Log Out", destroy_vendor_session_path, method: :delete) %>
  <% else %>
    <%= link_to('User Registration', new_user_registration_path) %><br>
    <%= link_to('User Log in with Email', new_user_session_path) %><br>
    <%= link_to('User Log in with Facebook', user_facebook_omniauth_authorize_path) %><br>
    <%= link_to('Vendor Registration', new_vendor_registration_path) %><br>
    <%= link_to('Vendor Login', new_vendor_session_path) %>
  <% end %>
</div>
