<div>
  Welcome to the DeliverMe Landing Page
</div>

<div>
  Check Out All These Awesome Vendors!<br>
  <% @vendors.each do |vendor| %>
    <%= link_to("#{vendor.name}", vendor_path(vendor)) %><br>
    <%= vendor.city %>, <%= vendor.state %><br>
  <% end %>
</div>

<div>
  <% if user_signed_in? %>
    <%= link_to("Go To Your Orders", user_orders_path(current_user)) %><br>
    <%= link_to("Place A New Order", new_user_order_path(current_user)) %>
  <% elsif current_vendor %>
    <%= link_to("Go To Your Orders", vendor_path(current_vendor)) %><br>
    <%= link_to("Log Out", destroy_vendor_session_path(current_vendor)) %>
  <% else %>
    <%= link_to('Log in with Email', new_user_session_path) %><br>
    <%= link_to('Log in with Facebook', user_facebook_omniauth_authorize_path) %><br>
    <%= link_to('Vendor Login', new_vendor_session_path) %>
  <% end %>
</div>
