<%= link_to "Back To Home", user_path(current_user) %>

<div>
  <h2>Edit Order #<%= "#{@order.id}" %></h2>
  <%= form_for [@order.user, @order] do |f| %>
    <%= f.hidden_field :user_id %>
    Choose a Vendor: <%= f.collection_select :vendor_id, Vendor.all, :id, :name %><br>
    Choose Your Item(s):<br>
    <%= f.collection_check_boxes :item_ids, Item.all, :id, :name %><br>
    <%= f.submit %>
  <% end %>
</div>
