<% if current_user %>
  <button class="button"><%= link_to "Back To Home", user_path(current_user) %></button>
<% elsif current_vendor %>
  <button class="button"><%= link_to "Back To Home", vendor_path(current_vendor) %></button>
<% end %>

<div>
  <table class="order-detail-table">
    <tr>
      <td><strong>Order #</strong></td>
      <td><%= "#{@order.id}" %></td>
    </tr>
    <tr>
      <td><strong>Order Status:</strong></td>
      <td><%= @order.delivered == true ? "Delivered" : "Undelivered" %></td>
    </tr>
    <tr>
      <td><strong>Vendor:</strong></td>
      <% if current_user %>
        <td><%= @order.vendor.name %></td>
      <% elsif current_vendor %>
        <td><strong>You!</strong></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>Customer:</strong</td>
      <td><%= @order.user.user_name %></td>
    </tr>
    <tr>
      <td><strong>Items:</strong></td>
      <% @order.items.each_with_index do |item, index| %>
        <td><%= "Item #{index + 1}" %>: <%= item.name.titleize %> $<%= item.price %></td>
      <% end %><br>
    </tr>
    <tr>
      <td><strong>Delivery Charge:</strong></td>
      <td>$<%= @order.delivery_charge %></td>
    </tr>
    <tr>
      <td><strong>Total:</strong></td>
      <td>$<%= @order.total %></td>
    </tr>
  </table>
</div>

<% if current_user %>
  <% if !@order.delivered %>
    <button class="button"><%= link_to "Edit This Order", edit_order_path(@order) %></button><br>
  <% end %>
  <button class="button"><%= link_to "Back to Order Index", orders_path(current_user) %></button>
<% end %>
