<% if current_user %>
  <%= link_to "Back To Home", user_path(current_user) %>
<% elsif current_vendor %>
  <%= link_to "Back To Home", vendor_path(current_vendor) %>
<% end %>

<div>
  <h2>Order #<%= "#{@order.id}" %></h2>
  <h3>Order Status: <%= @order.delivered == true ? "Delivered" : "Undelivered" %></h3>
  <% if @order.vendor %>
    <h3>Vendor: <%= @order.vendor.name %>
  <% end %>
  <h3>Customer: <%= @order.user.user_name %>
  <h3>Total: $<%= @order.total %></h3>
  <% @order.items.each do |item| %>
    <p><%= item.name.titleize %> $<%= item.price %></p>
  <% end %>
  <p>Delivery Charge: $<%= @order.delivery_charge %></p>
</div>

<% if current_user %>
  <% if !@order.delivered %>
    <%= link_to "Edit This Order", edit_order_path(@order) %><br>
  <% end %>
  <%= link_to "Back to Order Index", orders_path(current_user) %>
<% end %>
