<div>
  <h2>Our Awesome DeliverMe Vendors</h2>
</div>

<div>
  <% @vendors.each do |vendor| %>
    <h2><%= vendor.name %></h2>
    <% vendor.items.each do |item| %>
      <ul>
      <li><%= item.name %> $<%= item.price %></li>
      </ul>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to("Place an Order", new_user_order_path(current_user)) %>
  <% else %>
    <%= link_to("Back to Landing Page", home_path) %>
  <% end %>
</div>
