<div>
  <h2>Welcome To Your DeliverMe Vendor Account <%= @vendor.name %>!</h2>
  <% if !@vendor.name.present? %>
    <button class="button"><%= link_to "Add Your Profile Info", add_vendor_profile_path %></button>
  <% end %>
</div>

<div>
  <h3>You're Located In</h3>
  <p><%= @vendor.city %>, <%= @vendor.state %></p>

<div>
  <h3>Here's a List Of Your Orders</h3>
  <% if @vendor.orders.empty? %>
    <%= "You don't have any orders yet." %>
  <% else %>
    <% @vendor.orders.each do |order| %>
      <%= order.readable_date %> | $<%= order.total %><br>
      <button class="button"><%= link_to "View Order Details", order_path(order) %></button><br>
    <% end %>
  <% end %>
</div>

<div>
  <h3>And a List of the Items You Sell</h3>
  <% if @vendor.items.empty? %>
    <%= "You don't have any items for sale yet." %>
  <% else %>
    <% @vendor.items.each do |item| %>
      <%= item.name.titleize %>: $<%= item.price %><br>
    <% end %>
  <% end %>
</div>

<div>
  <h3><button class="button"><%= link_to "Go Ahead and Add a New Item!", new_vendor_item_path(@vendor) %></button></h3>
</div>
